<!-- html for homepage -->
<!-- loop over each post in the posts array -->
{{#each posts as |post| }}
<div class="row m-5 post justify-content-center">
    <h2 class=" heading">
        <a href="/post/{{id}}">{{title}}</a>
    </h2>
    <p>
        {{content}}
    </p>
    <p> - Created by {{user.username}} on {{format_date created}}</p>
</div>
{{/each}}